@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body {
  font-family: "Inter", sans-serif;
}




/* Login signup background gredient */
.css-selector {
  background: linear-gradient(141deg, #4c4383, #2d2f3e, #336765);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 3s ease infinite;
  -moz-animation: AnimationName 3s ease infinite;
  -o-animation: AnimationName 3s ease infinite;
  animation: AnimationName 3s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:59% 0%}
  50%{background-position:42% 100%}
  100%{background-position:59% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:59% 0%}
  50%{background-position:42% 100%}
  100%{background-position:59% 0%}
}
@-o-keyframes AnimationName {
  0%{background-position:59% 0%}
  50%{background-position:42% 100%}
  100%{background-position:59% 0%}
}
@keyframes AnimationName {
  0%{background-position:59% 0%}
  50%{background-position:42% 100%}
  100%{background-position:59% 0%}
}